.inputContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.underlineAnimation {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #66b6c1;
}

.inputContainer > input[type='text']:focus + .underlineAnimation {
  left: 0;
}

.editIcon {
  position: relative;
}

.nameContainer {
  background-color: transparent;
  border: none;
  outline: none;
}

.nameError {
  border-bottom: 2px solid #e03535;
}

.errorMessage {
  position: relative;
  color: #e03535;
  font-size: small;
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 35%;
}
