.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.headerLabel {
  color: #929292;
  margin-bottom: 5px;
  font-size: small;
}

.inputContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.underlineAnimation {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #66b6c1;
}

.inputContainer > input[type='text']:focus + .underlineAnimation {
  left: -64%;
}
